* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    font-family: Lato, sans-serif;
}






